html {
    scroll-behavior: smooth;
}
.homeone{
   

// Theme custom styling
.page-container{
    padding: 50px 0;

}

.wrapper{
    width: 95%;
    margin: auto;
}
header{
    position: fixed;
    z-index: 9999;
}
.topbar {
    background-color: #364d75;
    .header-in{
        padding: 1.2% 0;
        #logo {
            margin-top: 2px;
            width: 55%;
        }
    }
    
}
.navbar {
    
    .navbar-brand {
        width: 100%;
        img {
            width: 50%;
        }
    }
  
    #collapsibleNavbar {
        width: 100%;
        .nav-item{ 
            a{
                &:active{
                    color: white;
                }
            }
            .dropdown-menu{
                background-color: #ece9e5;
                &:active{
                    background-color: #ece9e5;
                }
            }
        }
    }
}
.darkHeader{
    background-color: black;
    transition: all 1s linear;
}
.lighthead{
    background-color: rgba(0,0,0,.5);
    transition: all 0.5s linear;
}
#demo {
    .carousel-inner { 
        .carousel-item {
            height: 70vh;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .carousel-caption{
                bottom: 10%;
            }
        }
    }
    .gotobottom {
        position: absolute;
        bottom: 3%;
        left: 50%;
        animation: arrowdown 2s infinite;

        @keyframes arrowdown {
            0%   {bottom: 3%;}
            50%  {bottom: 0%; }
            100%  {bottom: 3%;}
            
          }
        a {
            color: white;
            font-size: 50px;
        }
    }
    
}

#welcome{
    background-color: #ece9e5;
    .col-md-4{
        img{
            width: 100%;
            height: 100%;
        } 
    }
    .col-md-8{
        p{
            font-size: 1.2rem;
            padding: 10px;
            text-align: justify;
        } 
    }
}
.departments{
    .acard {
        box-shadow: 0px 0px 4px #bbbbbb;
        padding: 15px;
        margin: 20px 0;
        &:hover{
            background-color: #f1f1f1;
        }
        .image-container{
            height: 200px;
            margin-bottom: 1em;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
               
            }
        }
        button{
            position: relative;
            right: 1%;
        }
    }
    
}

.announce{
    background-color: #ece9e5;
    .heading{
        color: #17a2b8;
    }
    #scrolldiv {
        height: 500px;
        overflow-y: scroll;
        padding: 15px 15px 0 15px;
        .col-md-12{
            .dateof_an{
                float: right;
                font-size: 75%;
            }
            .short_con{
                color: grey;
                margin-left: 1%;
                border-bottom: 1px solid;
                margin-bottom: 1%;
                padding-bottom: 1%;
            }
        }
    }
    #scrolldivnews {
        /* background-image: url("../images/newspaper.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: repeat-y; */
        height: 500px;
        overflow-y: scroll;
        .overlay {
            /* background: rgba(255, 255, 255, 0.5);
            height: 100%;
            width: 100%;
            padding: 15px 15px 0; */
            .news {
                /* background: rgba(255,255,255,.4); */
                /* list-style: none;
                padding: 0; */
                .onenews {
                    /* padding: 25px 10px; */
                    margin: 20px 20px 0 0;
                    border-bottom: 1px solid;
                    /* box-shadow: 0px 0px 4px grey; */
                    &:hover{
                        /* box-shadow: 0px 1px 6px grey; */
                    }
                    a{
                        color: black;
                        text-decoration: none;
                        &:hover{
                            color: #2323a0;
                        }
                    }
                }
            }
        }
        
    }
    .acard{
        position: relative;
        padding: 26px;
        margin: 30px 0;
        box-shadow: 0px 0.5px 4px #b7b7b7;
        &:hover{
            box-shadow: 0px 0.5px 18px #b7b7b7;
        }
        img{
            position: absolute;
            width: 60px;
            top: -15%;
            left: 0;
        }
        p{
            font-size: 15px;
        }
        .shortp{
            font-size: 12px;
        }

        
        a{
            color: #4e4e4e;
            &:hover{
                text-decoration: none;
                
            }
        }
    }

}

 

.footer{
    background-color: rgb(22, 22, 22);
    color: rgb(219, 217, 217);
    .acard{
        padding: 25px;
        h6{
            &::before {
                content: "";
                position: absolute;
                top: 17%;
                width: 45px;
                height: 2px;
                background-color: white;
            }
        }
        .quickk{
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li{
                /* display: inline-block; */
                margin: 0 15px;
            }
        }
        
        img{
            width: 100%;
        }
        
    }
    .rowdivide{
        background-color: #ece9e5;
        margin: 0;
    }
    .copyright{
        text-align: right;
        padding: 10px;
    }
}
}

