@import "theme/bootstrap";
@import "theme/loader";

// Theme custom styling

p {
  color: red;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-item{
    height: 100vh;
}

