.departments-pages{
    .page-container{
        padding-bottom: 0px;
    }
    .navbar {
    
        .navbar-brand {
            width: 100%;
            img {
                width: 50%;
            }
        }
    
        #collapsibleNavbar {
            width: 100%;
            .nav-item{
                .dropdown-menu{ 
                    background-color: #ece9e5;
                }
            }
        } 
    }
    .darkHeader{
        background-color: black;
        transition: all 1s linear;
    }
    .lighthead{
        background-color: rgba(0, 0, 0, 0.1);
        transition: all 1s linear;
    }
    #page-header{
        .img-container{
            background-image: url(../images/departments.jpg);
        }
    }

    #starting{
        .col-md-6{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .heading{
            position: relative;
            h2{
                &:before{
                    content: "";
                    position: absolute;
                    top: 13%;
                    width: 100px;
                    height: 3px;
                    background-color: #000;
                }
            }
            p{
                font-size: 100%;
                
            }
        }
    }

    #researchareas{
        .headng{
            position: relative;
            h2{
                &:before{
                    content: "";
                    position: absolute;
                    bottom: -13px;
                    width: 100px;
                    height: 3px;
                    background-color: #000;
                }
            }
           
        }
        .one-card{
            i{
                margin-right: 1%;
            }
        }
    }

    #ongoingproj{
        .headng{
            position: relative;
            h2{
                &:before{
                    content: "";
                    position: absolute;
                    bottom: -13px;
                    width: 100px;
                    height: 3px;
                    background-color: #000;
                }
            }
           
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
                &:before {
                    content: "";
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    background-size: 18px;
                    background-image: url(../images/ongoingproicon.png);
                    background-repeat: no-repeat;
                    margin-right: 5px;
                    vertical-align: middle;
                  
                  }
              
            }

        }
    }
    #completedproj{
        
        .headng{
            position: relative;
            h2{
                &:before{
                    content: "";
                    position: absolute;
                    bottom: -13px;
                    width: 100px;
                    height: 3px;
                    background-color: #000;
                }
            }
           
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
                &:before {
                    content: "";
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    background-size: 18px;
                    background-image: url(../images/task-done-outline.png);
                    background-repeat: no-repeat;
                    margin-right: 5px;
                    vertical-align: middle;
                  
                  }
              
            }

        }
    }

    .footer{
        background-color: rgb(22, 22, 22);
        color: rgb(219, 217, 217);
        .acard{
            padding: 25px;
            h6{
                &::before {
                    content: "";
                    position: absolute;
                    top: 17%;
                    width: 45px;
                    height: 2px;
                    background-color: white;
                }
            }
            .quickk{
                list-style: none;
                padding: 0;
                margin-bottom: 0;
                li{
                    /* display: inline-block; */
                    margin: 0 15px;
                }
            }
            
            img{
                width: 100%;
            }
            
        }
        .rowdivide{
            background-color: #ece9e5;
            margin: 0;
        }
        .copyright{
            text-align: right;
            padding: 10px;
        }
    }
}